{% extends "strona/base.html"%}
{% block content %}
<form method="POST" action="{% url 'strona:author' %}">
{% csrf_token %}
<div style="width: 80%; margin auto;">
    <div style="padding: 10px">
        <label> Enter author name
            {{form.name}}
        </label>
        <span>{{form.errors.name}}</span>
    </div>
    <div style="padding: 10px">
    <label> Enter Quate:
      {{ quate_form.quate }}

    </label>
        <span>{{form.errors.quate}}</span>
    </div>
<div class="gird">
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>

</div>
</div>
</form>
{% endblock %}


