<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Information</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
  {% load static %}
  <link rel="stylesheet" href="{% static 'strona/style.css'%}">
</head>
<body>
<main class="container">
  <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
    <ul>
      <li><a href="/" role="button">Wróć na moją strone </a></li>
    </ul>
  </nav>
  {% block content %}{% endblock %}

</main>

</body>
</html>